{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    
        <title>استمارة جمع العلاقات</title>
    </head>
    
<style>
body{
   background-color: #f8f9fa; 
}
</style>
 
<div class="container text-center py-5 mb-4 ">
	<div class="p-5 mb-4 lc-block">
		<div class="lc-block mb-4">
			<div editable="rich">
				<h2 class="fw-bold display-2">شاكرون لتعاونكم</h2>
			</div>
		</div>
		<div class="lc-block mb-5">
			<div editable="rich">
				<p class="lead">ان اردت ملئ الاستمارة مرة اخرى</p>
			</div>
		</div>
		<div class="lc-block mb-2">
			<a class="btn btn-primary" href="/" role="button">اظغط هنا </a>
		</div>
	
	</div>
</div>
</html>